@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;400&family=Syne:wght@400;500;600&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
@media (max-width:700px) {
	main{
		padding: 1rem;
	};
	
}
/*Partie Edition - Modification */
.baniere-modification{
	background-color: black;
	display: flex;
	justify-content: center;
	color: white;
	align-items: center;
}
.baniere-modification button{
    border: none;
	padding: .5rem;
	background-color: white;
	border-radius: 20px;
	margin: .5rem;
}
.hidden{
	display: none;
}
figcaption a {
	display: flex;
}
/*Partie inputs login*/
.warning{
	color: red;
	display: block;
}
.ok{
	border: 2px solid green
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}


/*Gestion de la modale*/

.modal{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.7);
  display: grid;
  place-items: center;
  overflow: auto;
}
.modal-wrapper {
	background-color: #fefefe;
	width: 650px;
	padding: 20px;
	position: relative;
	border-radius: 15px;
	max-width: calc(100vw, -20px);
}

.close {
	color: black;
    border: none;
    background-color: inherit;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    float: right;
    position: absolute;
    right: 28px;
	font-size: 2rem;
}
.gallery-modal{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	border-bottom: 3px solid gray;
	margin: auto;
	width: 85%;
	padding-bottom: 3rem;
}
#title-modal, #title-add-photo{
	text-align: center;
    margin: 2rem 0;
    color: black;
    font-family: inherit;
}
.gallery-modal figure img{
    width: 100px;
}

.gallery-modal figure{
	position: relative;
}
.gallery-modal figure i{
	position: absolute;
	top: 5px;
	right: 5px;
	color: white;
	background-color: black;
	padding: 5px;
	border-radius: 3px;
	cursor: pointer;
}
.btn-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
	margin-top: 2rem;
}
.add-photo{
	border-radius: 20px;
	background-color: #1D6154;
	color: white;
	width: 35%;
	border: none;
	margin: auto;
	font-size: 14px;
	padding: .7rem 0;
	cursor: pointer;
}
.delete-gal{
	background-color: inherit;
	color: red;
	border: none;
	font-size: 14px;
	width: 35%;
	cursor: pointer;
}
/*modal add*/
.back{
	cursor: pointer;
	font-size: 2rem;
	border: none;
	background-color: inherit;
}
.container-photo{
	background: #E8F1F7;
	border-radius: 5px;
	padding: 2rem;
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: auto;
	width: 75%;
	position: relative;
}
.fa-image{
	font-size: 5rem;
	color:  #B9C5CC;
}
.container-photo .btn-ajout-photo, .btn-valider{
	background-color: #B9C5CC;
	font-size: 1.54rem;
	padding: .5rem 2.5rem;
	border: none;
	border-radius: 20px;
	color:#306685;
}
.container-inputs{
	width: 85%;
	margin: auto;
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	padding-bottom: 2rem;
	border-bottom: 2px solid gray
}
.inputs-text{
	height: 50px;
	border: none;
	box-shadow: 0 0 50px rgb(212, 209, 209);
}
.container-btn-valider{
	display: grid;
	place-items: center;
	margin-top: 2rem;
}
.btn-valider{
	color: #ffffff;
	background-color:  #A7A7A7;
	padding: .5rem 5rem;
}
#project-pic{
	height: 100%;
	width: 45%;
	z-index: 3;
	position: absolute;
}


h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}
a{
	text-decoration: none;
	color: inherit;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
    flex-wrap: wrap;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
	gap: 3rem;
}
@media (max-width:700px) {
	#introduction{
		flex-direction: column-reverse;
	};
	
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 100%;
}

#introduction article {
	flex: 1
}
@media (max-width:700px) {
	#introduction article, #introduction img{
		width: 100%;
		margin: auto;
	}
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
.projet-modifier{
	display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: baseline;
}
.modifier{
	display: flex;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
@media (max-width:700px) {
	.gallery{
		grid-template-columns: 1fr 1fr;
	};
	
}
@media (max-width:400px) {
	.gallery{
		grid-template-columns: 1fr;
	};
	
}
.btncontainer{
	gap: .5rem;
	justify-content: center;
	display: flex;
}
.btncontainer button{
	margin: 0 0 2rem 0;
	border: 1px solid #1D6154;
    padding: .5rem 1.5rem;
	border-radius: 20px;
	background-color: inherit;
	font-weight: bold;
	color: #1D6154;
	font-family: 'Syne';
	font-size: 1.1rem;
}
.btncontainer button:focus{
	background-color: #1D6154;
	color: white;
}
@media (max-width:700px) {
	.btncontainer{
		flex-wrap: wrap
	};
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
    margin: auto;
	font-family: 'Syne';
}
#contact > * {
	text-align: center;
	font-family: "Syne";

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
/*login page*/
#loginfooter{
	bottom: 0;
	position: fixed;
	left: 0;
	width: 100%;
}